#mackcali-1  {
  position: absolute;
  top: -60px;
  left: 160px
}

#mackcali-2  {
  position: absolute;
  top: -60px;
  left: 290px

}

#mackcali-3  {
  position: absolute;
  top: -60px;
  left: 425px;

}
