#fflickr-1  {
  position: absolute;
  top: -60px;
  left: 160px
}

#fflickr-2  {
  position: absolute;
  top: -60px;
  left: 290px

}

#fflickr-3  {
  position: absolute;
  top: -60px;
  left: 425px;

}
