
.open-window-container {
  grid-column: 4;
  grid-row: 2;
  justify-self: center;
  height:475px;
  width:750px;
  position: absolute;
  background-image: url('../../assets/finder-window.png');
  background-size: cover;
  z-index: 2;
}

.int-window-container {

}

#mcwindow {
  top: 30%;
  left: 30%;
}

.close-button {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 4px;
  left: 6px;
  filter: opacity(.5);
  color: red
}

.close-button:hover {
  cursor:pointer;
}

.window-title {
  position: relative;
width: fit-content;
margin: none;
z-index: 10;
color: black;
font-family: 'Arimo', sans-serif;
top: 3px;
left: 357px;
/* background-color: white; */
}

#first-fflickr {
  position: relative;
  top: 50px;
  left: 258px;
  list-style: none;
}

#second-fflickr {
  position:relative;
  top: 50px;
  left: 0 ;

}

#third-fflickr {
  position:relative;
  top: 0;
  left: 0 ;

}

.default-position {
  position:relative;
  top: 100px;
  left: 100px;
}
