#penultimate-1  {
  position: absolute;
  top: -40px;
  left: 160px
}

#penultimate-2  {
  position: absolute;
  top: -40px;
  left: 290px

}

#penultimate-3  {
  position: absolute;
  top: -40px;
  left: 425px;

}
