#fiddle-1  {
  position: absolute;
    top: -40px;
  left: 160px
}

#fiddle-2  {
  position: absolute;
  top: -40px;

  left: 290px

}

#fiddle-3  {
  position: absolute;
  top: -40px;
  left: 425px;

}
